[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pymysql = "*"
uvicorn = {extras = ["standard"], version = "*"}
bcrypt = "*"
cryptography = "*"

[dev-packages]
