[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pymysql = "*"
uvicorn = {extras = ["standard"], version = "*"}
bcrypt = "*"
cryptography = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
requests = "*"

[dev-packages]
